*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
.eggs
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Runtime logs
octane.log

# Unit test / coverage reports
.coverage
.tox
.venv

# Sphinx
doc/build

# pbr generates these
AUTHORS
ChangeLog
