# NOTE: These requirements *must* match those of libs installed on Fuel master
# To verify them, use command like "rpm -q --whatrequires python-cliff" and
# examine requirements of software listed there.
pbr==0.11.1

# Cap versions of libs pulled by python-keystoneclient
stevedore==1.5.0
oslo.config==2.4.0  # the last version with namespace package

# python-fuelclient needs these versions, python-keystoneclient pulls newer ones
# (taken from requirements.txt in python-fuelclient)
argparse==1.2.1
requests>=2.7.0
six>=1.7.0,<=1.9.0

python-keystoneclient==1.7.2
python-fuelclient==8.0.0
cliff==1.14.0
paramiko==1.15.2
