# NOTE: These requirements *must* match those of libs installed on Fuel master
# To verify them, use command like "rpm -q --whatrequires python-cliff" and
# examine requirements of software listed there.
pbr==0.11.1

python-fuelclient  # It pulls following libs:
#cliff
#requests
#stevedore

paramiko==1.13.0
